
.checkout {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 5px;
}

.checkout > * {
    margin-left: auto;
    margin-right: auto;
  }

.checkout div:nth-child(5) {
    display: flex;
    justify-content: center;
}

.selection-box {
    display: flex;
    border: 1px solid red;
    box-sizing: border-box;
    width: 200px;
    max-width: 250px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 4%;
}

.selection-box label {
    font-size: 10px;
    font-weight: bold;
    width: 50%;
}

.selection-box input {
    width: 25px;
    height: 25px;
    display: flex;
    justify-self: flex-end;
}

.details-container {
    width: 400px;
    border: 1px blue solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.details-container button , input {
    flex-basis: calc(50% - 5px);
    width: 200px;
    background-color: rgb(220,220,220);
    border: 1px solid rgb(48,63,91);
    color: black;
}

.details-container button:focus {
    background-color: rgb(48,63,91); 
    color: white;
}

.details-container > h3 {
   width:100%;
  }

  .details-container > input  {
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  padding: 6px 12px;
  font-size: 13px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 100px;
  }
