#app {
  height: 100%;
}

.card-container {
  gap: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  transition: 0.1s;
  background-color: white;
  width: 300px;
  margin: 10px;
  outline: 0px solid #45779f;
  text-align: left;
  padding: 0 0 40px 0;
}

.image-container {
    display: flex;
    justify-content: center;
}

.card-container img {
    width: 100%;
    border-radius: 5px;
    display: flex;
}

.card-container .description {
    display: flex;
    border: 1px red solid;
    text-align: justify;
    padding: 2%;
    font-size: 0.9rem;
}

.card-container ul {
    list-style: none;

}

.card-container > .moreinfo {
    text-align: center;
    font-size: 0.8rem;
    border: 1px red solid;
}

.card-container > .title p{
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    border: 1px red solid;
}

.card-container > .date {
    border: 1px red solid;
    text-align: center;
    font-size: 0.8rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.link {
  margin: 10px;
}