* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.page-container {
  background-color: grey;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}